* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-size: 40px;
}
.row {
	width: 100%;
}
.p1 {
	background-color: blue;
    width: 25%;
    position: absolute;
    top: 0px;
    right: -24px;
    text-align: center;
}
.p2 {
	background-color: red;
	width: 25%;
	position: absolute;
    top: 0px;
    right: -25px;
    text-align: center;
}
.p3 {
	background-color: maroon;
	width: 25%;
	position: absolute;
    top: 0px;
    right: -24px;
    text-align: center;
}
p {
	background-color: gray;
	font-style: serif;
	font-size: 20px;
	color: white;
	padding: 10px 10px 10px 10px;
	margin: 20px;
	width: 430px;
	border: 2px solid black;
}
.row {
	width: 100%
}
@media (min-width: 992px) {
	.col-lg-4, .col-lg-4, .col-lg-4{
		float: left;

	}
.col-lg-4{
	width: 33%;
	position: relative;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-6, .col-md-6{
		float: left;
	}
.col-md-6{
    width: 50%;
   }
}
@media (max-width: 767px) {
	.col-sm-12, .col-sm-12, .col-sm-12{
		float: left;
	}
.col-sm-12 {
	width: 100%;
}
}
